.game-container {
  padding: 1rem;
  height: 100%;
  color: $black;
  .topic-difficulty {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
  }
  .question-container {
    padding: 1rem;
    height: 95%;
    display: flex;
    flex-direction: column;
    .question {
      border: 1px solid $black;
      padding: 2rem;
      min-height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .choices {
      .choice {
        display: inline-block;
        width: 50%;
        min-height: 10rem;
        border: 1px solid $black;
        outline: none;
        background-color: $blue;
        color: $grey;
        font-size: 1.5rem;
        font-weight: 700;
        transition: all 0.4s;
        cursor: pointer;
        vertical-align: middle;
        &:hover {
          background-color: $grey;
          color: $blue;
        }
      }
    }
  }
  .prev-next {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
.success {
  background-color: $success !important;
}
.danger {
  background-color: $danger !important;
}
.results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.new {
  text-align: center;
}

@media (max-width: 800px) {
  .game-container {
    .question-container {
      .choices {
        .choice {
          width: 100% !important;
          padding: 2rem;
        }
      }
    }
  }
}
