.header {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  background-color: $grey;
  padding: 2rem;
  .header-title {
    font-size: 3rem;
  }
  .icon {
    font-size: 3rem;
    color: $blue;
  }
  .nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    .nav {
      display: flex;
      gap: 1rem;
      .link {
        list-style-type: none;
      }
    }
    .score-container {
      .score {
        color: $blue;
        font-weight: 700;
        font-size: 1.2rem;
        border-bottom: 2px solid $blue;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
      }
    }
  }
}
